@import "tailwindcss";

@theme {
  --color-gray: #f0eeef;
  --color-light: #f9f0e6;
  --color-blue: #01005b;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Sofia Pro;
}
